/* neon styling patterns built with reference to this tutorial  https://www.youtube.com/watch?v=6xNcXwC6ikQ*/


:root {
    --clr-main-bg: black;
    --clr-neon1: #3cb9fC;
    --clr-neon2: #bc75f9;
    --clr-neon3: #8a2be2;
    --clr-neon4: #fec763;
    --clr-neon-yellow: #ffff33;
    --clr-neon-red: #fd1c03;
    --clr-neon-blue: #0062ff;
    --clr-neon-green: #00ff33;
    --clr-neon-pink: #f0c;
    --clr-neon-purple: #9d00ff;

}

body {
    background: var(--clr-main-bg);
    color: var(--clr-neon-yellow);

}

main {
    border: 2px var(--clr-neon-purple) solid;
    border-radius: .25em;
    text-shadow:
        0 0 .1em hsl(0 0% 100% / .25),
        0 0 .3em currentColor;

    box-shadow: inset 0 0 0.75em 0 var(--clr-neon-purple), 0 0 0.75em 0 var(--clr-neon-purple);
}

aside,
#dealer-hand,
#player-hand {
    border: 2px var(--clr-neon-purple) solid;
    border-radius: .25em;
    box-shadow: inset 0 0 0.75em 0 var(--clr-neon-purple), 0 0 0.75em 0 var(--clr-neon-purple)
}

#dealer-value,
#player-value {
    border: var(--clr-neon-yellow) 2px solid;
    color: var(--clr-neon-yellow);
    border-radius: .25em;
    text-shadow:
        0 0 .05em hsl(0 0% 100% / .25),
        0 0 .1em currentColor;

    box-shadow: inset 0 0 0.50em 0 var(--clr-neon-yellow), 0 0 0.50em 0 var(--clr-neon-yellow);
}

#money {
    border: var(--clr-neon-green) 2px solid;
    color: var(--clr-neon-green);
    border-radius: .25em;
    text-shadow:
        0 0 .05em hsl(0 0% 100% / .25),
        0 0 .1em currentColor;

    box-shadow: inset 0 0 0.50em 0 var(--clr-neon-green), 0 0 0.50em 0 var(--clr-neon-green);
}

.card-red {

    color: var(--clr-neon-red);
    border: var(--clr-neon-red) 2px solid;
    border-radius: .25em;
    text-shadow:
        0 0 .1em hsl(0 0% 100% / .25),
        0 0 .3em currentColor;

    box-shadow: inset 0 0 0.75em 0 var(--clr-neon-red), 0 0 0.75em 0 var(--clr-neon-red);

}

.card-blue {

    color: var(--clr-neon-blue);
    background: var(--clr-main-bg);
    border: var(--clr-neon-blue) 2px solid;
    border-radius: .25em;
    text-shadow:
        0 0 .1em hsl(0 0% 100% / .25),
        0 0 .3em currentColor;

    box-shadow: inset 0 0 0.75em 0 var(--clr-neon-blue), 0 0 0.75em 0 var(--clr-neon-blue);

}



button {
    color: white;
    cursor: pointer;
    background: var(--clr-main-bg);
    text-decoration: none;
    border: var(--clr-neon-purple) 2px solid;
    border-radius: .25em;
    text-shadow:
        0 0 .1em hsl(0 0% 100% / .25),
        0 0 .3em var(--clr-neon-purple);

    box-shadow: inset 0 0 0.75em 0 var(--clr-neon-purple), 0 0 0.75em 0 var(--clr-neon-purple);

}

button:disabled {
    cursor: auto;
    color: var(--clr-main-bg);
    border: var(--clr-neon-purple) .5px solid
}