* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

main {
    width: 90vmin;
    height: 80vmin;
    margin: auto;
    display: grid;
    grid-template-areas:
        "head head"
        "dealer aside"
        "player aside";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;


}

/* main > div {
    width: 60vmin;
    height: 25vmin

} */

h1 {

    grid-column: span 2;
    text-align: center;
}

aside {
    grid-column: 2;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: 2px solid orange;
}

#messages {
    height: 30vmin;
    border: 2px dotted black;

}

#dealer-hand {
    grid-column: 1;
    grid-row: 2;
    border: 2px solid green;

}

#player-hand {
    grid-column: 1;
    grid-row: 3;
    border: 2px solid blue;
}