* {
    box-sizing: border-box;
}


main {
    /* gameboard size should be a rectangle that takes up the majority of the window space */
    width: 90vmin;
    height: 80vmin; 
    margin: auto;
    /* creates a grid container for the gameboard */
    display: grid;
   /* display has two columns and three rows */
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;


}

h1 {
    margin: 0.5em;
    grid-column: span 2;
    text-align: center;
}

aside {
    grid-column: 2;
    grid-row: 2/4;
    /* the aside needs to become a flex container so that I can include the messages to the player & buttons */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  
    
    
}

main > div {
    display: flex;
    align-items: center;
    position: relative;

}


p {
    margin: .25em 0;
    text-align: center;
    align-self: center;
    

}


.card {
    height: 18vmin;
    width: 12vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0.25em;
}

#dealer-value, #player-value {
    position: absolute;
    right: .5vmin;
    top: .5vmin;
    width: 3ch


}

#money {
    position: absolute;
    top: .5vmin;
    left: 50%;
    width: 8ch;
}

#messages {
    height: 40vmin;
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

#messages::-webkit-scrollbar {
    display: none;

}

#buttons {
    height: 25vmin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    margin: .5em;
}

#reset {
    grid-column: 1/3;
}

#dealer-hand {
    grid-column: 1;
    grid-row: 2;
      
    
}

#player-hand {
    grid-column: 1;
    grid-row: 3;
    }
